<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386477766090-rd5nhur6s8mcm9csae6v9h1uodmd2n6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386477766090-rd5nhur6s8mcm9csae6v9h1uodmd2n6n</string>
	<key>API_KEY</key>
	<string>AIzaSyD_p33LiJfNVNrpDhHm3C5jMWwcMonXOhw</string>
	<key>GCM_SENDER_ID</key>
	<string>386477766090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-dc7d0</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-dc7d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386477766090:ios:66abba5c5db2d962cf4b33</string>
</dict>
</plist>